<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        #img1 {
            border: 3px solid #101010;
            border-radius: 20px;
            padding: 0px;
            width: 70px;
        }

        body {
            background-color: #cccccc;
            opacity: 1;
            text-align: center;
        }
    </style>
</head>

<body> <img id=img1 src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Eo_circle_grey_not-allowed.svg/2048px-Eo_circle_grey_not-allowed.svg.png">
    <h1>You are not allowed to vote</h1>
    <h5>because:</h5>
    <p> {{User}} with ID {{ID}} already given the vote</p> (or) <br><br> the {{User}} with that ID does not exist
</body>

</html>